<!doctype html>
<html lang="ko" th:replace="~{templates/layouts/home::layout(content=~{::body})}" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/single-company.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image"><img src="images/browse-companies-03.png" alt=""></div>
            <div class="header-details">
              <h3><th:block th:text="${company.name}">회사명</th:block> <span>대충 회사 분류</span></h3>
              <ul>
                <li><div class="star-rating" data-rating="0"></div></li>
                <li><img class="flag" th:src="@{/images/flags/{countryCode}.svg(countryCode=${company.locationDto.countryCode.toLowerCase()})}" alt="">
                  <th:block th:text="${company.countryName}">국가명</th:block></li>
                <li><div class="verified-badge-with-title">인증됨</div></li>
              </ul>
            </div>
          </div>
          <div class="right-side">
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="white">
              <ul>
                <li><a href="#" th:text="#{home}">홈</a></li>
                <li><a href="#" th:text="#{browse-companies}">기업정보</a></li>
                <li th:text="${company.name}">회사명</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">

    <!-- Content -->
    <div class="col-xl-8 col-lg-8 content-right-offset">

      <div class="single-page-section">
        <h3 class="margin-bottom-25" th:text="#{about-company}">회사소개</h3>
        <p th:text="${company.description}">안녕하세요.</p>
      </div>

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="icon-material-outline-business-center"></i> <th:block th:text="#{open-positions}">채용정보</th:block></h3>
        </div>

        <div class="listings-container compact-list-layout">

        </div>

      </div>
      <!-- Boxed List / End -->

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="icon-material-outline-thumb-up"></i> <th:block th:text="#{reviews}">리뷰</th:block></h3>
        </div>
        <ul class="boxed-list-ul">
        </ul>

        <div class="centered-button margin-top-35">
          <a href="#small-dialog" class="popup-with-zoom-anim button button-sliding-icon"><th:block th:text="#{reviews.leave}">리뷰 남기기</th:block> <i class="icon-material-outline-arrow-right-alt"></i></a>
        </div>

      </div>
      <!-- Boxed List / End -->

    </div>


    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4">
      <div class="sidebar-container">

        <!-- Location -->
        <div class="sidebar-widget">
          <h3 th:text="#{location}">위치</h3>
          <div id="single-job-map-container">
            <div id="singleListingMap" th:data-latitude="${company.locationDto.latitude}"
                 th:data-longitude="${company.locationDto.longitude}" data-map-icon="im im-icon-Hamburger"></div>
            <a href="#" id="streetView" th:text="#{street-view}">거리뷰</a>
          </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3 th:text="#{social-profile}">소셜 프로필</h3>
          <div class="freelancer-socials margin-top-25">
            <ul>
              <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
              <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
              <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
              <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>

            </ul>
          </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="sidebar-widget">
          <h3 th:text="|#{bookmark} #{or} #{share-it}|">북마크 혹은 공유하기</h3>

          <!-- Bookmark Button -->
          <button class="bookmark-button margin-bottom-25" th:classappend="${member?.isCompanyBookmarked(company.id)} ? 'bookmarked' : ''" th:data-id="${company.id}">
            <span class="bookmark-icon"></span>
            <span class="bookmark-text" th:text="#{bookmark}">북마크</span>
            <span class="bookmarked-text" th:text="#{bookmarked}">북마크됨</span>
          </button>

          <!-- Copy URL -->
          <div class="copy-url">
            <input id="copy-url" type="text" value="" class="with-border">
            <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Copy to Clipboard" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
          </div>

          <!-- Share Buttons -->
          <div class="share-buttons margin-top-25">
            <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
            <div class="share-buttons-content">
              <span><th:block th:text="#{interesting}">관심이 있으신가요?</th:block> <strong th:text="|#{share-it}!|">공유하기!</strong></span>
              <ul class="share-buttons-icons">
                <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Leave a Review Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

  <!--Tabs -->
  <div class="sign-in-form">

    <ul class="popup-tabs-nav">
      <li><a href="#tab">Leave a Review</a></li>
    </ul>

    <div class="popup-tabs-container">

      <!-- Tab -->
      <div class="popup-tab-content" id="tab">

        <!-- Form -->
        <form method="post" id="leave-company-review-form">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>What is it like to work at Acodia?</h3>

            <!-- Leave Rating -->
            <div class="clearfix"></div>
            <div class="leave-rating-container">
              <div class="leave-rating margin-bottom-5">
                <input type="radio" name="rating" id="rating-1" value="1" required>
                <label for="rating-1" class="icon-material-outline-star"></label>
                <input type="radio" name="rating" id="rating-2" value="2" required>
                <label for="rating-2" class="icon-material-outline-star"></label>
                <input type="radio" name="rating" id="rating-3" value="3" required>
                <label for="rating-3" class="icon-material-outline-star"></label>
                <input type="radio" name="rating" id="rating-4" value="4" required>
                <label for="rating-4" class="icon-material-outline-star"></label>
                <input type="radio" name="rating" id="rating-5" value="5" required>
                <label for="rating-5" class="icon-material-outline-star"></label>
              </div>
            </div>
            <div class="clearfix"></div>
            <!-- Leave Rating / End-->

        </div>


        <div class="row">
          <div class="col-xl-12">
            <div class="input-with-icon-left" title="Leave blank to add review anonymously" data-tippy-placement="bottom">
              <i class="icon-material-outline-account-circle"></i>
              <input type="text" class="input-text with-border" name="name" id="name" placeholder="First and Last Name"/>
            </div>
          </div>

          <div class="col-xl-12">
            <div class="input-with-icon-left">
              <i class="icon-material-outline-rate-review"></i>
              <input type="text" class="input-text with-border" name="reviewtitle" id="reviewtitle" placeholder="Review Title"  required/>
            </div>
          </div>
        </div>

        <textarea class="with-border" placeholder="Review" name="message" id="message" cols="7"  required></textarea>

        </form>

        <!-- Button -->
        <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit" form="leave-company-review-form">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></button>

      </div>

    </div>
  </div>
</div>
<!-- Leave a Review Popup / End -->
</body>
</html>
